/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #ef6603;
    text-decoration: none;
  }
  
  a:hover {
    color: #fc8129;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(42, 44, 57, 0.9);
  }
  #header.header-transparent {
    background: transparent;
  }
  #header.header-scrolled {
    background: rgba(42, 44, 57, 0.9);
  }
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(0deg, #2a2c39 0%, #33364a 100%);
    padding: 0;
  }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100vh;
    padding-top: 60px;
  }
  #hero h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
  }
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
  }
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ef6603;
  }
  #hero .btn-get-started:hover {
    background: #ef6603;
    color: #fff;
    text-decoration: none;
  }
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }
  @media (max-width: 768px) {
    #hero .carousel-container {
      height: 100vh;
    }
    #hero h2 {
      font-size: 28px;
    }
  }