<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='image/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <title>DASHBOARD - COMSCI-UBRU</title>

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.2.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    {% include "navbar.html" %}
    <!-- End Header -->

    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
            <div class="row">

                <!-- Top Selling -->
                <div class="col-12">
                <div class="card top-selling overflow-auto">

                    <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Test</a></li>
  
                    </ul>
                    </div>

                    <div class="card-body pb-0">
                    <h5 class="card-title">Infomation <span>| Details</span></h5>

                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">Picture</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Nick Name</th>
                            <th scope="col">View</th>
                            <th scope="col">Date Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for h in data %}
                            <tr>
                                <th scope="row"><a href="#"><img src="{{ url_for('static', filename='image/freshy/'+h.img_path) }}" alt=""></a></th>
                                <td class="fw-bold">{{ h.fullname }}</td>
                                <td class="fw-bold">{{ h.nickname }}</td>
                                <td>
                                    <a href="#" class="text-primary fw-bold" onclick="getdata('{{ h.number }}')">See</a>
                                </td>
                                <td>{{ h.created_at }}</td>
                            </tr>
                        {% endfor %}
                        
                        </tbody>
                    </table>
                    </div>
                </div>
                </div><!-- End Top Selling -->
            </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
                </div>

                <div class="card-body pb-0">
                <h5 class="card-title">News <span>| Updates</span></h5>

                <div class="news">

                    <div class="post-item clearfix">
                    <img src="{{ url_for('static', filename='image/news-1.jpg') }}" alt="">
                    <h4><a href="#">Start server (comsci-ubru.tk)</a></h4>
                    <p>Website create by Phumin-DEV & Onlypond, Project start on 2022/05/31</p>
                    </div>

                </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "footer.html" %}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

    <!-- javascript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery-3.6.0.js') }}"></script> <!-- Ajex -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- sweetalert -->

    <script type="text/javascript">
        function getdata(params) {
            $.ajax({  
                    method: 'POST',
                    url: '/getdata',
                    data: { 'number': params },
                    success: function(response) {
                        console.log(response)
                        Swal.fire({
                            title: 'น้อง: '+ response.nickname,
                            // text: response.nickname,
                            imageUrl: '/static/image/freshy/'+response.img_path,
                            // imageWidth: 200,
                            // imageHeight: 100,
                            imageAlt: 'Custom image',
                            html: `
                                <h5>ชื่อ: ${response.fullname}</h5>
                                <h5>เบอร์: ${response.number}</h5>
                                <h5>ลิงค์เฟส: ${response.facebook_url}</h5>
                            `
                            }
                        )
                    },
                    error: function(response){
                        Swal.fire({
                            title: 'An error occurred!',
                            text: 'Please try again later.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        })
                    }
                }
            )
        }
    </script>
</body>

</html>