<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBRU - สาขาวิทยาการคอมพิวเตอร์</title>
</head>
<body>
    <!-- 
        ตัวอย่างการนำเข้าไฟล์  css js img อืนๆ
        Key:
            href="{{ url_for('static', filename='path/css?js?png') }}"

        Example:
            <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
     -->
     <h1>หน้าแรก</h1>
</body>
</html>