{% if 'loggedin' not in session %}
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/home" class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='image/logo.png') }}" alt="">
                <span>COMSCI-UBRU</span>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                {% if bar_active == "/" %}
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="/blog">Blog</a></li>
                {% elif bar_active == "/home" %}
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="/blog">Blog</a></li>
                {% else %}
                    <li><a class="nav-link scrollto" href="/home">Home</a></li>
                    <li><a class="nav-link scrollto active" href="#blog">Blog</a></li>
                {% endif %}
                <li><a class="nav-link scrollto" href="#footer">Contact</a></li>
                <li><a class="getstarted scrollto" onclick="signup()">Sign Up</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
{% else %}}
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='image/logo-dashboard.png') }}" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->
        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->
            
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                        <hr class="dropdown-divider">
                        </li>
            
                        <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                        </li>
            
                        <li>
                        <hr class="dropdown-divider">
                        </li>
            
                        <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                        </li>
            
                        <li>
                        <hr class="dropdown-divider">
                        </li>
            
                        <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                        </li>
            
                        <li>
                        <hr class="dropdown-divider">
                        </li>
            
                        <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                        </li>
            
                        <li>
                        <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                        </li>
            
                    </ul><!-- End Notification Dropdown Items -->
            
                    </li><!-- End Notification Nav -->

                <li class="nav-item dropdown pe-3">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="{{ url_for('static', filename='image/profile.jpg') }}" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{ username }}</span>
                </a><!-- End Profile Iamge Icon -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ username }}</h6>
                            <span>
                                {% if session['is_admin'] == 1 %}
                                    Admin
                                {% else %}
                                    Guest User
                                {% endif %} 
                            </span>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profile">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/profile">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->
            </ul>
        </nav><!-- End Icons Navigation -->
    </header>

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                {% if bar_active == "/dashboard" %}
                <a class="nav-link" href="/dashboard">
                {% else %}
                <a class="nav-link collapsed" href="/dashboard">
                {% endif %}
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                {% if bar_active == "/manage" %}
                <a class="nav-link" href="/manage">
                {% else %}
                <a class="nav-link collapsed" href="/manage">
                {% endif %}
                    <i class="bi bi-journal-text">
                    </i><span>Manage</span>
                </a>
            </li> <!-- End Forms Nav -->
            
            <li class="nav-heading">Pages</li>
            
            <li class="nav-item">
                {% if bar_active == "/profile" %}
                <a class="nav-link" href="/profile">
                {% else %}
                <a class="nav-link collapsed" href="/profile">
                {% endif %}
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Account Settings</span>
                </a>
            </li><!-- End setting Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/logout">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Sign Out</span>
                </a>
            </li><!-- End Sing Out Page Nav -->
        </ul>
    </aside><!-- End Sidebar-->
{% endif %}